body {
    background-color: aqua;
}

.container {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 green;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    margin: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aquamarine;
    border-radius: 10px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: green;
    border-radius: 10px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: red;
}

input:focus+.slider {
    box-shadow: 0 0 1px red;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.display {
    flex: 1;
    background: forestgreen;
    display: flex;
    flex-flow: column;
}

span {
    flex: 1;
    text-align: right;
    color: white;
    font-size: 30px;
}

p {
    padding-right: 10px;
}

.display-r {
    font-size: 40px;
}

.btns {
    flex: 2;
    background: beige;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 26px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    flex: 1;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
    transition-duration: 0.4s;
    border: 1px solid white;
    background-color: #f4f5f9;
    color: black;
    font-family: 'Lucida Sans';
}

button:hover {
    background-color: #e7e7e7;
}

button:nth-child(4n+0) {
    background-color: aquamarine;
    font-size: 22px;
}

button:last-child {
    background-color: forestgreen;
    border: 3px solid white;
    color: white;
    font-size: 22px;
}